.swiper {
  margin-bottom: 50px !important;
  padding: 30px 0 !important;
  user-select: none;
}

.movie-swiper {
  width: 60vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 150px !important;
  height: 200px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
